/* Reset some default browser styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Mooli&family=Rajdhani&family=Raleway:wght@200&display=swap');
:root {
  --a: #000000;    /* Black */
  --b: #00FF00;    /* Lime */
  --c: #FF0000;    /* Red */
  --d: #808080;    /* Grey */
  --e: #FFFFFF;    /* White */
  --f: #d85a7df2;  /* A hexadecimal color with transparency (RGBA) */
}
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Raleway', sans-serif;
}

/* Set up the body as a flex container */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--a); /* Set the background color */
  color:var(--e); 
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
}

/* Navigation styles (adjust margin as needed) */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-links a,
.right-links a {
  margin-right: 10px;
}

.left-links:last-child a,
.right-links:first-child a {
  margin-right: 0;
}

/* Main content styles (add any additional styles as needed) */
main {
  flex: 1;
  padding: 20px;
}
span{
    color:var(--c);
}
a{
    color:var(--b);
}

/* Footer styles */
footer {
  background: #f9f8f7;
  padding: 2em 4em;
  text-align: center;
  flex-shrink: 0;
  color:var(--a);
}